.box
{
  height: 500px;
  width: 500px;
  border-style: solid;
  border-width: medium;
}
.blockHorizontal
{
  height:10%;;
  width: 25%;
  border-style: solid;
  border-width: medium;
}
.blockVertical
{
  height:25%;;
  width: 10%;
  border-style: solid;
  border-width: medium;
}

.center{
  margin:auto;
  padding:40px;
}

.container{
  padding:40px;
}

th, td, tr{
  margin:10px;
  padding:5px;
  border: 1px solid black;
}

table{
  font-size:30px;
  text-align: center;
  background:#ffffff;
  border: 1px solid black;
}

#effect5 h2 {
	font-size:90px;
	font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
	padding:40px 0 80px;
	color: #353535;
	letter-spacing:10px;
	text-shadow:
 4px 4px 0px #fff, 6px 6px 0px rgba(54, 54, 54, 0.5);
}
