h2 {
	font-size:90px;
	font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
	padding:0px 0 0px;
	color: orange;
	letter-spacing:5px;
	text-shadow:
 1px 1px 0px rgba(54, 54, 54, 0.5), 2px 2px 0px #fff;
}
 .upper {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}
.center {
  margin: auto;
  width: 50%;
  padding-top: 400px;
  padding: 10px;
  line-height:60px;
  text-align: center;
  height: 500px;
}
body {
  background-image: url(block.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a
{
    color: DodgerBlue;
}

a:hover
{
    color: red;
}
